@use "@/styles/variables.module.scss" as *;
@use "@/styles/mixins.module.scss" as *;

.buttonWrapper {
  @include font-base;

  width: 100%;
  height: 50px;
  background-color: $color-button;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-button-sub;
    border: 3px solid $color-button;
    text-decoration: underline;
  }
}
