.transVerticalScroll {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  > .header {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

    > .title {
      font-size: 24px;
      font-weight: 900;
    }
  }

  > .scroll {
    padding: 20px;
    display: flex;
    // 横スクロールできるようにする
    overflow-x: scroll;
    overflow-y: scroll;
    gap: 20px;
    flex-wrap: nowrap;
  }
}

.somethingContent {
  flex-shrink: 0;
  font-weight: 900;
  font-size: 36px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: red;
  text-align: center;
  // 3の倍数の子要素の時に背景を青にする
  &:nth-child(3n) {
    background-color: blue;
  }

  &:nth-child(3n + 1) {
    background-color: green;
  }

  &.Button {
    background-color: yellow;
  }
}
